body, html {
    height: 100%;
    margin: 0;
}

.u-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 'card chart chart chart';
    padding: 20px;
    box-sizing: border-box;
    grid-gap: 20px;
}

.card {
    grid-area: card;
    height: 100%;
    margin: 0;
}

#chart {
    grid-area: chart;
}

#sidebar-btn {
    position: fixed !important;
    top: 90vh;
    left: 95vw;
}

.btn {
    width: 100%;
}

label:before {
    top: -10px !important;
}

.c3-region.regionRisk {
    fill: yellow;
}

.c3-region.regionDanger {
    fill: red;
}
