{% extends 'base_app.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/chart.css" %}">
{% endblock %}

{% block title %}
    Your pollution chart
{% endblock %}

{% block content %}
    <div class="chart-container">
        <canvas id="chart"></canvas>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
        $("#sidebar-btn").sideNav();
        var sensor = '{{ sensor }}';
        var ctx = document.getElementById('chart').getContext('2d');

        config = {
            type: 'line',

            data: {
                labels: {{ dates|safe }},
                datasets: [{
                    label: '{{ label }}',
                    borderColor: 'rgb(255, 99, 132)',
                    backgroundColor: 'rgba(255, 255, 255, 0)',
                    data: {{ data|safe }}
                }]
            },

            options: {
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        type: 'time',
                        time : {
                            tooltipFormat: 'll HH:mm'
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Datetime'
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
                },
                layout: {
                    padding: {
                        left: 25,
                        right: 100,
                        top: 25,
                        bottom: 25
                    }
                }
            }
        };

        var chart = new Chart(ctx, config);

        $.ajaxSetup({
            url: 'api',
            success: function (result) {
                config.data.labels = result.labels;
                config.data.datasets[0].data = result.data;
                chart.update();
            },
            data: {id: sensor},
            contentType: 'application/json; charset=utf-8'
        });

        setInterval(function () {
            $.ajax();
        }, 15000);

    </script>
{% endblock %}