{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/chart.css" %}">
{% endblock %}

{% block title %}
    Your pollution chart
{% endblock %}

{% block content %}
    <div class="u-container">
        <div class="u-card">
            <div class="card deep-purple darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Select timedelta</span>
                    <br>
                    <div class="input-field">
                        <input type="text" class="datepicker" id="from">
                        <label>Select From</label>
                    </div>
                    <div class="input-field">
                        <input type="text" class="datepicker" id="to">
                        <label>Select To</label>
                    </div>
                    <br>
                    <span class="card-title">Select devices from list below</span>
                    <div class="input-field">
                        <select id="category-select">
                            <option value="" disabled selected>Choose your option</option>
                            {% for category in category_list %}
                                <option value="{{ category.title }}">{{ category.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-field">
                        <select multiple id="sensor-select">
                            <option value="" disabled selected>Choose your option</option>
                        </select>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action" id="update-sensors">Get It
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </div>
        <div class="chart-container">
            <canvas id="chart"></canvas>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script>
        var risk = {{ risk }};
        var danger = {{ danger }};
        var sensor = '{{ sensor }}';
        var dates = {{ dates|safe }};
        var label = '{{ label }}';
        var data = {{ data|safe }};
    </script>
    <script src="{% static "js/chart.js" %}"></script>
{% endblock %}