{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/chart.css" %}">
{% endblock %}

{% block title %}
    Your pollution chart
{% endblock %}

{% block content %}
    <div class="u-container">
        <div class="u-card">
            <div class="card deep-purple darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Select timedelta</span>
                    <br>
                    <div class="input-field">
                        <input type="text" class="datepicker" id="from">
                        <label>Select From</label>
                    </div>
                    <div class="input-field">
                        <input type="text" class="datepicker" id="to">
                        <label>Select To</label>
                    </div>
                    <br>
                    <button class="btn waves-effect waves-light" type="submit" name="action" id="click">Get It
                        <i class="material-icons right">send</i>
                    </button>
                    <br>
                    <br>
                    <br>
                    <span class="card-title">Select devices</span>
                    <div class="input-field">
                        <select id="category-select">
                            <option value="" disabled selected>Choose your option</option>
                            {% for category in category_list %}
                                <option value="{{ category.title }}">{{ category.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-field">
                        <select multiple id="sensor-select">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action" id="click">Get It
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </div>
        <div class="chart-container">
            <canvas id="chart"></canvas>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
        risk = {{ risk }};
        danger = {{ danger }};
        sensor = '{{ sensor }}';
        dates = {{ dates|safe }};
        label = '{{ label }}';
        data = {{ data|safe }};
    </script>
    <script src="{% static "js/chart.js" %}"></script>
{% endblock %}