{% extends 'base_app.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/dashboard.css" %}">
{% endblock %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <div class="grid-container">
        <div class="grid-item" id="item-1">
            <div class="card deep-purple darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Sensor Data Online</span>
                    <div class="u-content">
                        <div class="u-container">
                            <h1>95
                                <small>ppm</small>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item" id="item-2">
            <div class="card deep-purple darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Average</span>
                    <div class="u-content">
                        <div class="u-container">
                            <h1>95
                                <small>ppm</small>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item" id="item-3">
            <div class="card deep-purple darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Minimum</span>
                    <div class="u-content">
                        <div class="u-container">
                            <h1>95
                                <small>ppm</small>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item" id="item-4">
            <div class="card deep-purple darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Quality index</span>
                    <div class="u-content">
                        <div class="u-container">
                            <h1>95
                                <small>ppm</small>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item" id="item-5">
            <div class="card deep-purple darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Select needed device</span>
                    <br>
                    <div class="input-field">
                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                        <label>Select Category</label>
                    </div>
                    <div class="input-field">
                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                        <label>Select Device</label>
                    </div>
                    <div class="input-field">
                        <input type="text" class="datepicker">
                        <label>Select From</label>
                    </div>
                    <div class="input-field">
                        <input type="text" class="datepicker">
                        <label>Select To</label>
                    </div>
                    <br>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Get It
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </div>
        <div class="grid-item" id="item-6">
            <div class="card deep-purple darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Chart</span>
                    <div class="u-content">
                        <div class="u-container">
                            <div class="chart-container">
                                <canvas id="chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item" id="item-7">
            <div class="card deep-purple darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Maximum</span>
                    <div class="u-content">
                        <div class="u-container">
                            <h1>95
                                <small>ppm</small>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item" id="item-8">
            <div class="card deep-purple darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Trust Level</span>
                    <div class="u-content">
                        <div class="u-container">
                            <h1>95
                                <small>ppm</small>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item" id="item-9">
            <div class="card deep-purple darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Risk Bounds</span>
                    <div class="u-content">
                        <div class="u-container">
                            <h2>95
                                <small>danger</small>
                            </h2>
                            <h2>95
                                <small>risk</small>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item" id="item-10">
            <div class="card deep-purple darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Position</span>
                    <div class="u-content">
                        <div class="u-container">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
        $("#sidebar-btn").sideNav();

        $('select').material_select();

        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });

        var sensor = '{{ sensor }}';
        var ctx = document.getElementById('chart').getContext('2d');

        config = {
            type: 'line',

            data: {
                labels: /* {{ dates|safe }} */[],
                datasets: [{
                    label: '{{ label }}',
                    borderColor: 'rgb(255, 99, 132)',
                    backgroundColor: 'rgba(255, 255, 255, 0)',
                    data: /* {{ data|safe }} */ []
                }]
            },

            options: {
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            tooltipFormat: 'll HH:mm'
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Datetime'
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
                }
            }
        };

        var chart = new Chart(ctx, config);

        $.ajaxSetup({
            url: 'api',
            success: function (result) {
                config.data.labels = result.labels;
                config.data.datasets[0].data = result.data;
                chart.update();
            },
            data: {id: sensor},
            contentType: 'application/json; charset=utf-8'
        });

        setInterval(function () {
            $.ajax();
        }, 15000);

    </script>
{% endblock %}