{% extends 'base_app.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="{% static "css/map.css" %}">
{% endblock %}

{% block title %}
    Your pollution map
{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
    <script src="{% static "js/heatmap.js" %}"></script>
    <script src="https://rawgit.com/pa7/heatmap.js/develop/plugins/leaflet-heatmap/leaflet-heatmap.js"></script>
    <script>
        $("#sidebar-btn").sideNav();

        var cfg = {
            radius: 0.001,
            scaleRadius: true,
            latField: 'lat',
            lngField: 'lng',
            valueField: 'val'
        };

        var data = [];
        data = {{ data|safe }};

        // To change data
        // markers[0]._popup._content = "HALOU"

        var heatmap_data = {
            max: 1000,
            min: -100,
            data: data
        };

        var heatmapLayer = new HeatmapOverlay(cfg);

        var base = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        });

        var map = new L.Map('content', {
            zoom: 4,
            layers: [base, heatmapLayer]
        });

        $.getJSON("https://ipinfo.io", function (ipinfo) {
            latLong = ipinfo.loc.split(",");
            map.setView([+latLong[0], +latLong[1]], 12);
        });

        //map.on('locationerror', onLocationError);

        //map.locate({setView: true, maxZoom: 16});

        heatmapLayer.setData(heatmap_data);

        $.ajaxSetup({
            url: 'api',
            success: function (result) {
                data = result;
                heatmap_data.data = data;
                heatmapLayer.setData(heatmap_data);
            }
        });

        setInterval($.ajax, 15000);

    </script>
{% endblock %}