<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Pollution Map</title>
    {% load static %}
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/ammap.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/map.css" %}">
</head>
<body>

<div id="mapdiv"></div>

<a class="btn-floating btn-large waves-effect waves-light red" id="sidebar-btn" href="#" data-activates="slide-out">
    <i class="material-icons">menu</i>
</a>

<ul id="slide-out" class="side-nav">
    <li>
        <div class="user-view">
            <img class="circle" src="{% static "img/mountains.png" %}">
            <span class="black-text name">{{ username }}</span>
            <span class="black-text email">{{ email }}</span>
        </div>
    </li>
    <li><a href="/"><i class="material-icons">cloud</i>Main</a></li>
    <li><a href="/map"><i class="material-icons">map</i>Map</a></li>
    <li><a href="/dashboard"><i class="material-icons">dashboard</i>Dashboard</a></li>
    <li><a href="/logout"><i class="material-icons">exit_to_app</i>Exit</a></li>
</ul>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="https://www.amcharts.com/lib/3/ammap.js"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/worldHigh.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
    $("#sidebar-btn").sideNav();

    var images = {{ data|safe }};

    var map = AmCharts.makeChart("mapdiv", {
        "projection": "eckert6",
        "type": "map",
        "mouseWheelZoomEnabled": true,
        "dataProvider": {
            "zoomLatitude": 0,
            "zoomLongitude": 0,
            "map": "worldHigh",
            "images": images
        }
    });

    $.ajaxSetup({
        url: 'markers',
        success: function (result) {
            images = result;
            map.dataProvider.images = images;
            map.dataProvider.zoomLevel = map.zoomLevel();
            map.dataProvider.zoomLatitude = map.zoomLatitude();
            map.dataProvider.zoomLongitude = map.zoomLongitude();
            // update map
            map.validateData();
        }
    });

    setInterval(function () {
        $.ajax();
    }, 15000);

</script>
</body>
</html>